# Objectives 
1. Understand why feature scaling is important
2. Choice of learning rate
3. Polynomial regression
4. Understand the problem of overfitting
5. Regularization to solve overfitting

In [1]:
import numpy as np
import pandas as pd

In [2]:
housing_dataset = pd.read_csv('../Datasets/housing.csv')
housing_dataset.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [3]:
housing_dataset = housing_dataset[[
    'area', 'price'
]]

housing_dataset.head()

   area     price
0  7420  13300000
1  8960  12250000
2  9960  12250000
3  7500  12215000
4  7420  11410000

# Feature Scalling

In [4]:
mean = housing_dataset.mean()
std = housing_dataset.std()

housing_dataset = (housing_dataset - mean) / std
housing_dataset.head()

       area     price
0  1.045766  4.562174
1  1.755397  4.000809
2  2.216196  4.000809
3  1.082630  3.982096
4  1.045766  3.551716

# Split Data

In [5]:
def split_dataset(dataset, train_ratio=0.6, val_ratio=0.2):
    no_of_examples = len(dataset)
    random_indices = np.arange(no_of_examples)
    
    train_size = int(no_of_examples * train_ratio)
    val_size = int(no_of_examples * val_ratio)
    
    train_indices = random_indices[:train_size]
    val_indices = random_indices[train_size:train_size + val_size]
    test_indices = random_indices[train_size + val_size:]
    
    train_ds = dataset.iloc[train_indices]
    val_ds = dataset.iloc[val_indices]
    test_ds = dataset.iloc[test_indices]
    
    train_X = np.array(train_ds.iloc[:, :-1])
    train_y = np.array(train_ds.iloc[:, -1])
    val_X = np.array(val_ds.iloc[:, :-1])
    val_y = np.array(val_ds.iloc[:, -1])
    test_X = np.array(test_ds.iloc[:, :-1])
    test_y = np.array(test_ds.iloc[:, -1])
    return train_X, train_y, val_X, val_y, test_X, test_y

In [6]:
train_X, train_y, val_X, val_y, test_X, test_y = split_dataset(housing_dataset)

# House Price Predictor
Polynomial equation: y = a*x + b * x^2 + c

In [7]:
def get_house_price(x, w1, w2, b):
    y_pred = x * w1 + x ** 2 * w2 + b
    return y_pred

In [8]:
w1 = np.random.randint(low=100, high=200)
w2 = np.random.randint(low=100, high=200)
b = np.random.randint(low=100, high=200)

print(w1, w2, b)

y_pred = get_house_price(train_X, w1, w2, b)
y_pred

156 101 190

array([[ 463.5956092 ],
       [ 775.06513695],
       [1031.79081156],
       [ 477.27095646],
       [ 463.5956092 ],
       [ 477.27095646],
       [ 688.75564122],
       [3602.63595449],
       [ 588.58601195],
       [ 240.79854881],
       [2158.19799637],
       [ 266.5380869 ],
       [ 332.60129244],
       [ 129.77622235],
       [ 530.99834794],
       [ 266.5380869 ],
       [ 339.25041715],
       [ 671.37443234],
       [ 156.92466671],
       [ 315.81540362],
       [ 145.09016153],
       [ 420.25671816],
       [ 578.71999347],
       [ 155.02814191],
       [ 737.9693989 ],
       [ 331.28433507],
       [ 266.5380869 ],
       [ 755.22130813],
       [ 559.30964588],
       [ 217.73975552],
       [ 472.96792225],
       [ 396.30368737],
       [ 172.12189817],
       [ 262.23961476],
       [ 372.65885448],
       [ 396.30368737],
       [ 474.17006964],
       [ 784.51063913],
       [ 266.5380869 ],
       [ 266.5380869 ],
       [ 332.60129244],
       [ 308.31255424],
       [ 323.47266389],
       [ 266.5380869 ],
       [ 266.5380869 ],
       [ 266.5380869 ],
       [ 266.5380869 ],
       [ 339.25041715],
       [ 144.37351549],
       [ 466.98871086],
       [ 466.98871086],
       [ 304.00719992],
       [ 266.5380869 ],
       [ 189.9610962 ],
       [ 266.5380869 ],
       [ 266.5380869 ],
       [1490.46005595],
       [ 784.51063913],
       [ 509.04415865],
       [ 266.5380869 ],
       [ 266.5380869 ],
       [ 756.38001379],
       [ 293.77008819],
       [ 308.31255424],
       [1401.42840579],
       [ 756.38001379],
       [2158.19799637],
       [ 512.66029828],
       [ 266.5380869 ],
       [1721.594559  ],
       [ 135.68263679],
       [ 266.5380869 ],
       [ 180.98153626],
       [ 339.25041715],
       [ 136.61838265],
       [ 142.99169369],
       [ 315.81540362],
       [ 326.05939752],
       [ 235.97233057],
       [ 266.5380869 ],
       [ 266.5380869 ],
       [ 135.68263679],
       [1188.25713491],
       [ 266.5380869 ],
       [ 131.50933005],
       [ 618.82744615],
       [ 348.7393378 ],
       [ 134.815518  ],
       [ 461.90549216],
       [ 688.75564122],
       [ 179.66440338],
       [ 359.84117004],
       [ 167.4366967 ],
       [ 427.4038375 ],
       [ 266.5380869 ],
       [ 138.15067718],
       [ 784.51063913],
       [ 313.29729706],
       [ 339.25041715],
       [ 266.5380869 ],
       [ 339.25041715],
       [ 217.73975552],
       [ 217.73975552],
       [ 307.07709152],
       [ 217.73975552],
       [ 152.31203046],
       [ 213.44968624],
       [ 315.81540362],
       [ 130.94260823],
       [ 341.26606438],
       [ 339.25041715],
       [ 644.13547532],
       [ 144.37351549],
       [ 939.69160911],
       [ 366.91921392],
       [ 568.96120478],
       [ 381.39699106],
       [ 130.85203061],
       [ 315.81540362],
       [ 399.33649693],
       [ 331.28433507],
       [ 432.37793528],
       [ 295.43488343],
       [ 446.88745238],
       [ 329.31694126],
       [3282.86618267],
       [ 421.04655334],
       [ 326.05939752],
       [ 217.73975552],
       [1497.30166773],
       [ 167.4366967 ],
       [ 248.54156572],
       [ 193.60778673],
       [ 167.4366967 ],
       [ 396.30368737],
       [ 266.5380869 ],
       [ 209.26684675],
       [ 158.88981857],
       [ 179.66440338],
       [ 308.31255424],
       [ 245.73199684],
       [ 347.37091013],
       [1188.25713491],
       [ 167.4366967 ],
       [ 161.96622212],
       [ 179.66440338],
       [1188.25713491],
       [ 217.73975552],
       [ 308.31255424],
       [ 339.25041715],
       [ 188.95923843],
       [ 148.12831339],
       [ 209.26684675],
       [ 130.41609075],
       [ 130.42223386],
       [ 277.58451069],
       [ 381.39699106],
       [ 139.03615876],
       [ 565.08771365],
       [ 132.02190488],
       [ 290.23097849],
       [ 277.58451069],
       [ 339.25041715],
       [ 370.49844704],
       [ 354.25594039],
       [ 319.62473239],
       [ 530.99834794],
       [ 156.92466671],
       [ 142.99169369],
       [ 331.28433507],
       [ 217.73975552],
       [1119.79352774],
       [ 650.03394849],
       [ 201.22285716],
       [ 132.0333135 ],
       [ 987.8323668 ],
       [ 675.69399941],
       [ 272.0076839 ],
       [ 409.31161693],
       [ 131.62353661],
       [ 152.31203046],
       [ 427.4038375 ],
       [ 129.85184814],
       [ 565.08771365],
       [ 134.59278714],
       [ 134.59278714],
       [1480.2298072 ],
       [ 277.58451069],
       [ 237.88995029],
       [ 129.85412987],
       [ 494.75116778],
       [1249.38162689],
       [ 339.25041715],
       [ 167.4366967 ],
       [ 598.55926023],
       [ 148.52738374],
       [ 510.12719908],
       [ 139.52184724],
       [ 260.96345539],
       [ 141.04763675],
       [ 153.20024418],
       [ 138.01708833],
       [ 138.69575556],
       [ 209.26684675],
       [ 165.75051782],
       [ 300.96411577],
       [ 245.73199684],
       [ 134.59278714],
       [ 135.22277177],
       [ 355.64581401],
       [ 159.19051044],
       [2034.98569944],
       [ 129.82628851],
       [ 179.3378009 ],
       [ 146.19729954],
       [ 139.83738262],
       [ 270.90518612],
       [ 375.84490907],
       [ 168.29426217],
       [ 396.30368737],
       [ 588.58601195],
       [ 129.82628851],
       [ 824.44283917],
       [ 303.51850499],
       [1111.36023196],
       [ 318.35066694],
       [ 191.40690484],
       [ 266.5380869 ],
       [ 130.2803395 ],
       [ 952.12763715],
       [ 209.26684675],
       [ 145.09016153],
       [ 131.33052917],
       [ 139.83738262],
       [ 133.28716162],
       [ 234.07186761],
       [ 137.60151798],
       [ 180.32082522],
       [ 152.75399273],
       [ 135.68263679],
       [ 132.62592403],
       [ 131.50933005],
       [ 130.34914208],
       [ 148.0958427 ],
       [ 202.79734154],
       [ 205.99778061],
       [ 129.80659772],
       [ 650.03394849],
       [ 138.15067718],
       [ 179.01227072],
       [ 129.78926544],
       [ 129.77534476],
       [1004.18810783],
       [ 129.80659772],
       [ 152.75399273],
       [ 254.36495088],
       [ 135.68263679],
       [ 618.82744615],
       [ 136.61838265],
       [ 308.31255424],
       [ 131.85792524],
       [ 129.78926544],
       [ 131.38905716],
       [ 134.98345159],
       [ 173.33609046],
       [ 137.344342  ],
       [ 172.12189817],
       [ 174.56743951],
       [ 176.44663202],
       [ 133.64351556],
       [ 152.31203046],
       [ 182.59696665],
       [ 137.49345591],
       [ 129.77622235],
       [ 319.62473239],
       [ 136.42574331],
       [ 148.12831339],
       [1146.49081814],
       [ 129.88169697],
       [ 308.31255424],
       [ 308.31255424],
       [ 152.31203046],
       [ 165.9832324 ],
       [ 146.57492393],
       [ 525.45189653],
       [ 346.00677166],
       [ 139.90162001],
       [ 217.73975552],
       [ 182.31582591],
       [ 250.77267467],
       [ 145.79359986],
       [ 135.59689838],
       [ 141.11561703],
       [ 148.52738374],
       [ 135.68263679],
       [ 158.10447542],
       [ 156.92466671],
       [ 130.34914208],
       [ 245.73199684],
       [ 396.30368737],
       [ 137.59680986],
       [ 129.80659772],
       [ 167.67479197],
       [ 152.31203046],
       [ 618.82744615],
       [ 129.77534476],
       [ 169.7449839 ],
       [ 137.62275557],
       [ 136.76466361],
       [ 158.49129803],
       [ 264.91811762],
       [ 273.11447087],
       [ 130.0996669 ],
       [ 130.66724434],
       [ 136.61838265],
       [ 226.64158346],
       [ 255.92058229],
       [ 179.14235412],
       [ 145.82396435],
       [ 134.59278714],
       [ 145.09016153],
       [ 130.2803395 ],
       [ 129.76694189],
       [ 209.26684675],
       [ 152.31203046],
       [ 129.76694189],
       [ 138.15067718]])

# Cost function

In [9]:
def cost_function(x, y_true, w1, w2, b):
    _lambda = 1.1
    y_pred = get_house_price(x, w1, w2, b)
    mse = np.mean((y_pred - y_true) ** 2)
    regularizer_term = w1 ** 2 + w2 ** 2 + b # L2
    # regularizer_term = np.abs(w1) + np.abs(w2) + np.abs(b)
    return mse + _lambda * regularizer_term

In [10]:
mse = cost_function(train_X, train_y, w1, w2, b)
print(f"MSE is {mse:0.2f}  (Parameters not learned yet.)")

MSE is 325762.35  (Parameters not learned yet.)

# Gradient Decent

In [11]:
def compute_gradient(X, y_true, w1, w2, b):
    delta = 1e-9
    
    cost_1 = cost_function(X, y_true, w1, w2, b)
    cost_2 = cost_function(X, y_true, w1 + delta, w2, b)
    cost_3 = cost_function(X, y_true, w1, w2 + delta, b)
    cost_4 = cost_function(X, y_true, w1, w2, b + delta)
    
    dw1 = (cost_2 - cost_1) / delta
    dw2 = (cost_3 - cost_1) / delta
    db = (cost_4 - cost_1) / delta
    return dw1, dw2, db

# Train Model

In [12]:
def train_model(train_X, train_y, val_X, val_y, epochs=2000, lr=0.001):
    """ Initialize the parameters """
    w1 = 0
    w2 = 0
    b = 0
    
    for epoch in range(epochs):
        """ compute logits """
        loss = cost_function(train_X, train_y, w1, w2, b)
        val_loss = cost_function(val_X, val_y, w1, w2, b)
        
        """ compute gradient """
        dw1, dw2, db = compute_gradient(train_X, train_y, w1, w2, b)
        
        """ update parameters """
        w1 = w1 - lr * dw1
        w2 = w2 - lr * dw2
        b = b - lr * db
        
        if epoch % 100 == 0:
            print(f"Epoch {epoch} / {epochs} loss: {loss:.4f} val_loss: {val_loss:.4f}")
            
    return w1, w2, b
    
w1, w2, b = train_model(train_X, train_y, val_X, val_y)
train_loss = cost_function(train_X, train_y, w1, w2, b)
print(f"w1: {w1}, w2: {w2}, b: {b}, loss={train_loss:.4f}")

Epoch 0 / 2000 loss: 1.1172 val_loss: 0.3961
Epoch 100 / 2000 loss: 1.0717 val_loss: 0.4428
Epoch 200 / 2000 loss: 1.0700 val_loss: 0.4303
Epoch 300 / 2000 loss: 1.0692 val_loss: 0.4121
Epoch 400 / 2000 loss: 1.0687 val_loss: 0.3959
Epoch 500 / 2000 loss: 1.0683 val_loss: 0.3822
Epoch 600 / 2000 loss: 1.0681 val_loss: 0.3707
Epoch 700 / 2000 loss: 1.0679 val_loss: 0.3610
Epoch 800 / 2000 loss: 1.0677 val_loss: 0.3529
Epoch 900 / 2000 loss: 1.0676 val_loss: 0.3460
Epoch 1000 / 2000 loss: 1.0676 val_loss: 0.3403
Epoch 1100 / 2000 loss: 1.0675 val_loss: 0.3355
Epoch 1200 / 2000 loss: 1.0675 val_loss: 0.3314
Epoch 1300 / 2000 loss: 1.0674 val_loss: 0.3280
Epoch 1400 / 2000 loss: 1.0674 val_loss: 0.3251
Epoch 1500 / 2000 loss: 1.0674 val_loss: 0.3227
Epoch 1600 / 2000 loss: 1.0674 val_loss: 0.3206
Epoch 1700 / 2000 loss: 1.0674 val_loss: 0.3189
Epoch 1800 / 2000 loss: 1.0674 val_loss: 0.3174
Epoch 1900 / 2000 loss: 1.0674 val_loss: 0.3162
w1: 0.02548110389355429, w2: 0.07055690587343122, b: -0.06621381842819574, loss=1.0674

In [13]:
test_loss = cost_function(test_X, test_y, w1, w2, b)
print(f"MSE is {test_loss}")

MSE is 1.1176467379765123

In [14]:
print(test_loss / train_loss)

1.0470813156510357

# why Train loss << Testing loss

In [ ]:
""" This phenomenon is called overfitting. 
Train loss << Testing loss
So, lack of generalization.

Opposite scenario, underfitting.
Train loss >> Testing loss

Another term, generalization.

Solutions to overcome overfitting.
1. Regularization (*)
  => Add penalty to your cost function 
  => penalty on the weight value
  => L1, L2 
2. Reduce model capacity
    => Model has higher dimensional polynomial equations
    => Dropout (0.5)
    => price = w1 x x1 + w2 * x2 ^ 4 
    
""";