# Pandas Data Cleaning and Preprocessing 

### Objectives:

#### Data cleaning
- We will learn to handle missing values
- We will learn to remove duplicate records
- We will learn to convert data types
- We will learn to handle outliers

#### Data preprocessing
- We will learn to normalize / standardize numerical data
- We will learn to encode categorical data

In [130]:
import pandas as pd
import os

pd.__version__

'2.2.2'

In [131]:
root_dir = os.path.dirname(os.getcwd())
data_dir = os.path.join(root_dir, "Datasets")
dataset_path = os.path.join(data_dir, "health_monitor_data.csv")
print("root_dir", root_dir)
print("data_dir", data_dir)
print("dataset_path", dataset_path)

root_dir f:\bongoDev ML Course\000.Exercises\BongoDev ML Course Practise
data_dir f:\bongoDev ML Course\000.Exercises\BongoDev ML Course Practise\Datasets
dataset_path f:\bongoDev ML Course\000.Exercises\BongoDev ML Course Practise\Datasets\health_monitor_data.csv

In [132]:
health_monitor_data = pd.read_csv(dataset_path)
health_monitor_data.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [133]:
health_monitor_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.5+ KB

# Data Cleaning

# Handle missing values 
- Approach 1: Remove rows
- Approach 2: Replace empty cells with a value (Imputation)

In [134]:
health_monitor_data.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [135]:
health_monitor_data[health_monitor_data.isnull().any(axis=1)]

    Duration          Date  Pulse  Maxpulse  Calories
18        45  '2020/12/18'     90       112       NaN
22        45           NaN    100       119     282.0
28        60  '2020/12/28'    103       132       NaN

In [136]:
# replace
health_monitor_data["Calories"].fillna(value=health_monitor_data["Calories"].mean(), inplace=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_15276\112406961.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  health_monitor_data["Calories"].fillna(value=health_monitor_data["Calories"].mean(), inplace=True)

In [137]:
# Remove rows 
health_monitor_data.dropna(inplace=True)

In [138]:
health_monitor_data.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

# Handle duplicate records 
    - 1 F
    - 2 F
    - 3 F
    - 3 T
    - 5 F
    - 4 F
    - 5 T
    - 5 T

In [139]:
health_monitor_data.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [140]:
health_monitor_data.duplicated().sum()

np.int64(1)

In [141]:
health_monitor_data[health_monitor_data.duplicated()]

    Duration          Date  Pulse  Maxpulse  Calories
12        60  '2020/12/12'    100       120     250.7

In [142]:
health_monitor_data.drop_duplicates(inplace=True)

In [143]:
health_monitor_data.duplicated().sum()

np.int64(0)

# Type conversion

In [144]:
print(health_monitor_data['Date'].dtype)

object

In [145]:
health_monitor_data["Date"] = health_monitor_data["Date"].astype("datetime64[ns]")

health_monitor_data.head()

   Duration       Date  Pulse  Maxpulse  Calories
0        60 2020-12-01    110       130     409.1
1        60 2020-12-02    117       145     479.0
2        60 2020-12-03    103       135     340.0
3        45 2020-12-04    109       175     282.4
4        45 2020-12-05    117       148     406.0

In [146]:
print(health_monitor_data["Date"].dtype)

datetime64[ns]

# Handling outliers 
- Remove outliers: IQR (Statistical approach)
- We identify a lower bound and upper bound for outliers
- Remove all values that does not fall into the range

In [147]:
Q1 = health_monitor_data['Pulse'].quantile(0.25)
Q3 = health_monitor_data['Pulse'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print(lower_bound, upper_bound)
not_outliers = health_monitor_data["Pulse"].between(lower_bound, upper_bound)
print(not_outliers)

88.75 118.75
0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
23    False
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
Name: Pulse, dtype: bool

In [148]:
# health_monitor_data = health_monitor_data[~not_outliers]
# health_monitor_data.head()

In [149]:
# health_monitor_data = health_monitor_data[not_outliers]
# health_monitor_data.head()

# Data Preprocessing 
- Numeric => Standardize / Scaling / Normalization
- Categorical (Fruits: Apple, Orange, Grape)

In [150]:
def standard_scaler(col):
    """ zero mean unit variance """
    mean = col.mean()
    std = col.std()
    return (col - mean) / std


health_monitor_data["Pulse"] = health_monitor_data["Pulse"].agg(standard_scaler)
health_monitor_data["Maxpulse"] = health_monitor_data["Maxpulse"].agg(standard_scaler)
health_monitor_data.head()

   Duration       Date     Pulse  Maxpulse  Calories
0        60 2020-12-01  0.779174  0.068103     409.1
1        60 2020-12-02  1.649529  1.203149     479.0
2        60 2020-12-03 -0.091180  0.446451     340.0
3        45 2020-12-04  0.654838  3.473240     282.4
4        45 2020-12-05  1.649529  1.430158     406.0

# Encoding categorical data 
- One Hot Encoding (using pandas and sklearn)
- Label Encoding

In [151]:
temperatures = pd.read_csv('../Datasets/temperatures.csv')
temperatures.drop(columns=['Unnamed: 0', 'date'], inplace=True)
temperatures.head()

      city        country  avg_temp_c
0  Abidjan  Côte D'Ivoire      27.293
1  Abidjan  Côte D'Ivoire      27.685
2  Abidjan  Côte D'Ivoire      29.061
3  Abidjan  Côte D'Ivoire      28.162
4  Abidjan  Côte D'Ivoire      27.547

In [152]:
cities = ["Moscow", "Dhaka", "Chicago"]

temperatures = temperatures.query(
    "city in @cities" 
)

print(len(temperatures))

temperatures.head()

495

         city        country  avg_temp_c
3465  Chicago  United States       0.137
3466  Chicago  United States       4.083
3467  Chicago  United States       8.274
3468  Chicago  United States       7.615
3469  Chicago  United States      13.867

In [153]:
temperatures["city"].value_counts()

city
Chicago    165
Dhaka      165
Moscow     165
Name: count, dtype: int64

In [154]:
temperatures["country"].value_counts()

country
United States    165
Bangladesh       165
Russia           165
Name: count, dtype: int64

# One-Hot encoding 
Place 1: Chicago

Place 2: Moscow

Place 3: Dhaka

For chicago: 1 0 0

For Moscow: 0 1 0

For Dhaka: 0 0 1

In [155]:
temperatures = pd.get_dummies(
    temperatures, 
    columns=["city"], 
    sparse=True
)

temperatures.head()

            country  avg_temp_c  city_Chicago  city_Dhaka  city_Moscow
3465  United States       0.137          True       False        False
3466  United States       4.083          True       False        False
3467  United States       8.274          True       False        False
3468  United States       7.615          True       False        False
3469  United States      13.867          True       False        False

# Label Encoding

In [156]:

temperatures['country'] = pd.Categorical(
    temperatures['country'],
).codes

temperatures.tail()

       country  avg_temp_c  city_Chicago  city_Dhaka  city_Moscow
10885        1      16.152         False       False         True
10886        1      18.718         False       False         True
10887        1      18.136         False       False         True
10888        1      17.485         False       False         True
10889        1         NaN         False       False         True

In [157]:
pd.Categorical(
    temperatures['country'],
)

[2, 2, 2, 2, 2, ..., 1, 1, 1, 1, 1]
Length: 495
Categories (3, int8): [0, 1, 2]

# Which one should I choose? 
### One hot encoding issues:
    - What if the categories are large? (Memory issue)
    - What if order / Rank matters for example small, medium, large? What then?
    
    Answer is label encoding.

# Image processing 
- Fixed shape
- Gray scale conversion
- Brightness normalization / standardization (zero means unit variance)
- Augmentation (Rotation, Flip)